
@import url('_active/header__lang_active.css');

.header__lang {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #FFF;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
}

.header__lang:hover {
    transition: .1s linear .05s;
    opacity: 0.7;
}

@media screen and (min-width : 375px) and (max-width : 767px) {
    .header__lang {
        font-size: 18px;
        line-height: 96.82%;
    }
}
@media screen and (max-width : 374px) {
    .header__lang {
        font-size: 18px;
        line-height: 96.82%;
    }
}